* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: beige;
}

.container {
  padding: 0 10%;
}

.primary-text {
  color: #60d394;
}
.first-letter {
  color: #60d394;
  font-size: 3rem;
}

/* Navigation */
.navbar {
  background-color: #60d394;
  display: flex;
  justify-content: space-between;
}

.nav-left-side {
  padding-left: 10%;
}

.nav-left-side img {
  height: 120px;
  padding-left: 10%;
}

.nav-right-side {
  display: flex;
  padding-right: 10%;
  justify-content: center;
  align-items: center;
}

.nav-right-side ul {
  display: flex;
  flex-direction: row;
}

.nav-right-side ul li {
  margin: 15px;
  list-style: none;
}

.nav-right-side ul li a {
  text-decoration: none;
  color: #fff;
}

.section {
  height: 80vh;

  height: 60vh;
}
/* About Section */
.about-container {
  height: 100vh;
  margin-bottom: 100px;
}
.banner {
  height: 22rem;
  background: linear-gradient(to bottom, transparent 0%, white 200%),
    url("/images/road.avif") no-repeat center center/cover;
}
.about-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
  /* border: 2px red solid; */
}
.about-left {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 80vh;
  padding: 5% auto;
  margin: 5% 10%;
}
.about-left h1 {
  text-align: center;
  padding: 4%;
  font-size: 3rem;
}
.about-left p {
  padding-top: 5%;
  line-height: 1.5;
  font-size: 1.6rem;
}
.about-right {
  border-radius: 20px;
  height: 66vh;
  width: 70rem;
  background: url("/images/guy-sun.avif") no-repeat center center/cover;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin: 5% 5%;
}
.about-right img {
  height: 80vh;
  width: 45vw;

  border-radius: 20px;
}

/* Footer */
.footer-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 250px;
  background-color: #60d394;
  padding-bottom: 30px;
}

.left-side {
  padding-left: 10%;
}

.left-side p {
  color: #fff;
}

.right-side {
  display: flex;
  height: 170px;
  padding-right: 10%;
  justify-content: center;
  align-items: flex-end;
}

.right-side ul {
  display: flex;
  flex-direction: row;
}

.right-side ul li {
  margin: 20px;
  list-style: none;
}

.right-side ul li a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.fa-brands {
  font-size: 2rem;
  color: #aaf683;
  background: #fff;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar {
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-left-side {
    padding-right: 10%;
  }
  .nav-right-side {
    padding: 0;
  }
  .nav-right-side ul {
    margin: 0;
    width: 100vw;
    padding: 0;
  }

  .navbar ul {
    flex-direction: column;
    width: 100%;
  }
  .navbar ul li {
    text-align: center;
    width: 100vw;
    display: inline-block;
    border-top: 1px rgb(6, 114, 13) solid;
    /* margin: 0; */
    padding-top: 1.3rem;
  }
  .about-container {
    flex-direction: column;
    margin-top: 15%;
  }
  .about-content {
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-left {
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .about-content h1 {
    font-size: 2rem;
    text-align: center;
    padding: 0 5%;
  }
  .about-content p {
    font-size: 1.1rem;
    width: fit-content;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
  }
  .about-right {
    width: 90%;
    height: 40rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
  }
  .about-right img {
    width: 90%;
    height: 100%;
  }
  .footer-cont {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
  .left-side {
    padding: 0;
  }
  .left-side img {
    padding-left: 1.6rem;
  }
  .left-side p {
    text-align: center;
  }
  .right-side {
    padding: 0px;
  }
  .box {
    width: 100vw;
    flex-direction: column;
    padding: 0;
  }
  #mainSer {
    width: 100vw;
    height: 25rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #mainSer h2 {
    text-align: center;
    font-size: 1.8rem;
    flex-direction: column;
  }
  #mainSer p {
    width: 80%;
    font-size: 1.3rem;
  }
  #mainImage {
    height: 15rem;
    width: 15rem;
    margin: 0;
  }
  aside {
    height: 18rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 9rem;
  }
  #walkImage {
    height: 25rem;
    width: 100%;
    margin: 0;
  }
  .alignPic1 {
    flex-direction: column;
    margin: 0;
  }
  #walkServices {
    width: 100vw;
    padding: 0;
    display: flex;
    align-items: center;
    padding-bottom: 5rem;
  }
  h4 {
    font-size: 1.7rem;
    text-align: center;
  }
  #walkServices p {
    width: 80%;
    font-size: 1rem;
    text-align: center;
    /* margin: 0; */
  }
  #therapyServices {
    width: 100vw;
    height: 14rem;
    margin: 0;
    padding: 0;
    /* display: flex; */
  }
  #therapyServices h4 {
    margin: 0;
    text-emphasis: center;
  }
  #therapyServices p {
    width: 80%;
    font-size: 1rem;
    text-align: center;
    padding-top: 2.2rem;
    padding-left: 2rem;
  }
  .reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  #rockImage {
    height: 25rem;
  }
  #animalServices {
    width: 100vw;
    padding: 0;
    margin-bottom: 1.8rem;
  }
  #pugImage {
    width: 100%;
    margin: 0;
  }
  #animalServices h4 {
    font-size: 1.7rem;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #animalServices p {
    width: 80%;
    text-align: center;
    font-size: 1rem;
    padding-left: 30px;
  }
  .left-side p {
    font-size: 1rem;
  }

  .right-side ul {
    padding: 0;
  }

  .api-container {
    padding: 0;
    width: 100%;
    height: 66vh;
  }
  #title {
    font-weight: 400;
    font-size: 0.8rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
